<div class="cloud1_0">
  <div class="cloud1_1">
  </div>
</div>

<div class="cloud2_0">
  <div class="cloud2_1">
  </div>
</div>

<div class="around">
  <div class="balloon"></div>
  <div class="string1"></div>
  <div class="string2"></div>
  <div class="box"></div>
</div>

<div class="hill1">
</div>
<div class="hill2">
</div>
<div class="hill3">
</div>


